<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>注册</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />




<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" login"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/login/" >登录</a>|<a href="/reg/" >注册</a></h1>

        </div>


    </div>
    <!-- END Header -->







    <!-- Content -->
    <div id="content" class="colM">







<div id="content-main">



欢迎：{{username}}({{userid}})

</div>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
